<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
<script>
    const player = new Plyr('#player');
</script>

    <source src="https://live-202.zxz.su/LIVE/LIVE:317843/HLS/1593470785/jgvym5LRfaSW9JxnXe3RHw/live/317843_3/chunklist.m3u8" type="video/mp4" />
 
